@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body{
    text-align: center;
    font-family: "Inconsolata";
}

.kotak-input{
    display: block;
    resize: none;
    margin: auto;
}

p > span {
    color: coral;
    font-weight: bold;
}